
<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>this is User page</title>
<body>

<!--  STEPP : 22   DESIGN THE CONTACT FORM -->

	<section>
		<!-- <h1>Add contact form :</h1>  -->

<div class="card mr-3 ml-3">
	<div class="card-body">
	<h1 class="text-center">Add Contact</h1>
	<div class="container-fluid mt-1">

<div class="row">
<div class="col-md-8 offset-md-2">

<form 
  th:action="@{/user/process-contact}"  
   action="#"
   th:object="${contact}"
	enctype="multipart/form-data"
	method="POST"
	class="mt-2"
>
	     				    
	     				    
	     				    
<!-- First Name field -->

<div class="input-group">

<div class="input-group-prepend">

<div class="input-group-text">
<i class="fa fa-plus"></i>
</div>
</div>
<input required type="text" id="firstName" name="name" placeholder="Enter name here" class="form-control" />
</div>

<!-- Second Name field -->

<div class="input-group mt-3">

<div class="input-group-prepend">

<div class="input-group-text">
<i class="fa fa-user-alt"></i>
</div>
</div>
<input required type="text" id="secondName" name="secondName" placeholder="Enter nick name" class="form-control" />
</div>

<!--Phone  field -->

<div class="input-group mt-3">

<div class="input-group-prepend">

<div class="input-group-text">
<i class="fa fa-phone"></i>
</div>
</div>
<input required type="number" id="phone" name="phone" placeholder="Enter Phone" class="form-control" />
</div>

<!--Email Field  field -->

<div class="input-group mt-3">

<div class="input-group-prepend">

<div class="input-group-text">
@
</div>
</div>
<input type="email" id="email" name="email" placeholder="Enter Email Address" class="form-control" />
</div>

<!--Work  Field  field -->

<div class="input-group mt-3">

<div class="input-group-prepend">

<div class="input-group-text">
<i class="fa fa-briefcase"></i>
</div>
</div>
<input type="text" id="work" name="work" placeholder="Enter Work" class="form-control" />
</div>

<!--Contact Description  field -->

<div class="from-group mt-3">
<textarea name="description" id="mytextarea" placeholder="Enter Your description" rows="10" class="form-control"></textarea>
</div>

<!-- Image Field  -->

<div class="custom-file">
<input type="file" name="profileImage" />

</div>

<div class="container text-center">
<button class="btn btn-outline-primary"> Submit</button>
</div>



</form>

						</div>

					</div>


				</div>



			</div>


		</div>


<!-- Script to Tiny Rich Editor -->
<script src="https://cdn.tiny.cloud/1/your-tinymce-apikey/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

<script>
        tinymce.init({
              selector: "#mytextarea"
        });
</script>


<!-- Adding the side bar tag as highlighted -->
<script>
	$(document).ready(
       ()=> {
		$(".item").removeClass("active");
	    $("#add-link").addClass("active");   
	} 

	);
	</script>



	</section>

</body>
</html>