<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Phone Book Cloud</title>
<body>

<section class="banner d-flex justify-content-center align-items-center "   >

<div class="text-center">
	<h2><i>Hi! Welcome </i></h2>
	<h1>PhoneBook Cloud</h1>
	<br>
	<p  >
	
	<h5 class="a" >An efficient solution of all your requirements , Want to access your contacts and get in touch with your closed ones , just be free and assign the task to us.
	</h5>
	
	</p>
	
	<a href="/signup" class=" mt-4 btn bg-primary btn-lg text-white">Lets Start</a>
	
</div>
</section>


</body>
</html>